.iconVerified,
.iconWarning,
.iconError {
	width: 14px;
	height: 14px;
	vertical-align: middle;
	opacity: 0.6;
}
.iconVerified {
	color: limegreen;
}
.iconWarning {
	color: darkorange;
}
.iconError {
	color: crimson;
}

.item {
	display: flex;
}

.aside {
	position: relative;
	border-right: 1px solid var(--vscode-activityBar-inactiveForeground);
}

.aside > *:first-child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.body {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 16px;
}

.content {
	padding: 0 8px;
}

.label {
	display: flex;
	align-items: flex-end;
	gap: 4px;
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	color: var(--vscode-button-background); /* TODO: change */
	margin-right: 4px;
}

.deleteDialog {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.deleteDialogContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.deleteDialogActions {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
}

.actions {
	display: flex;
	gap: 4px;
	padding: 0 8px;
}

.actionIcon {
	width: 18px;
	height: 18px;
	margin-right: 2px;
	color: var(--vscode-activityBar-inactiveForeground);
	cursor: pointer;
}

.actionIcon:hover {
	color: var(--vscode-activityBar-foreground);
}
