.item {
	display: flex;
}

.aside {
	position: relative;
	border-right: 1px solid var(--vscode-input-border);
}

.aside > *:first-child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.body {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 4px 24px;
}

.content {
	padding: 0 8px;
}

.label {
	font-size: 14px;
	font-weight: 500;
	color: var(--vscode-textLink-activeForeground);
}

.illustrated {
	display: flex;
	align-items: flex-end;
	gap: 4px;
}

.deleteDialog {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.deleteDialogContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.deleteDialogActions {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
}

.actions {
	margin-top: 8px;
	
	display: flex;
	gap: 6px;
}

.action {
	display: flex;
	align-items: flex-end;

	color: var(--vscode-activityBar-inactiveForeground);
	cursor: pointer;
}

.actionIcon {
	width: 18px;
	height: 18px;
	margin-right: 2px;
	
	color: var(--vscode-activityBar-inactiveForeground);
	cursor: pointer;
}

.action:hover {
	color: var(--vscode-activityBar-foreground);
}

.action:hover .actionIcon {
	color: var(--vscode-activityBar-foreground);
}
