.dialog {
	background: var(--vscode-editorWidget-background);
	color: var(--vscode-editorWidget-foreground);
	border: 1px solid var(--vscode-editorWidget-border);
	border-radius: 8px;
	padding: 2rem;
	min-width: 320px;
}

.dialogButton {
	position: absolute;
	background: none;
	border: none;
	top: 12px;
	right: 12px;
	font-size: 1.5rem;
	cursor: pointer;
}

.dialogCloseIcon {
	width: 24px;
	height: 24px;
	color: var(--vscode-activityBar-foreground);
}
