.switcher {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 26px;
    user-select: none;
    cursor: pointer;
}

.title {
    height: 22px;
    font-size: 16px;
    font-weight: bold;
    color: var(--vscode-activityBar-inactiveForeground);
}

.switcher:hover .title {
    color: var(--vscode-activityBar-foreground);
}

.indicator {
    display: flex;
    align-items: center;
}

.icon {
    width: 18px;
    height: 18px;
	color: var(--vscode-activityBar-inactiveForeground);
}

.switcher:hover .icon {
    color: var(--vscode-activityBar-foreground);
}