.button {
	padding: 6px 14px;
	color: var(--vscode-button-foreground);
	background-color: var(--vscode-button-background);
	border-radius: 2px;
	border: none;
	outline: none;
	cursor: pointer;
}

.button:hover {
	background-color: var(--vscode-button-hoverBackground);
}

.button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.outline {
	color: var(--vscode-button-background);
	background-color: transparent;
	border: 1px solid var(--vscode-button-background);
}

.outline:hover {
	background-color: var(--vscode-activityBar-background);
}

.rounded {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	padding: 0.5rem;
}
