.button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--vscode-button-hoverBackground);
}


/* VARIANTS */
.rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0.5rem;
}

