.item {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 8px 16px;
	background-color: var(--vscode-activityBar-background);

	border: 1px solid var(--vscode-editorWidget-border);
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.item:hover {
	background-color: var(--vscode-editorWidget-background);
}

.folder {
	width: 32px;
	height: 32px;
}

.content {
	display: flex;
	flex-grow: 1;
}

.actions {
	display: flex;
	gap: 8px;
}

.actions .icon {
	width: 18px;
	height: 18px;
	cursor: pointer;
	color: var(--vscode-activityBar-inactiveForeground);
}

.actions .icon:hover {
	color: var(--vscode-activityBar-foreground);
}

.deleteDialog {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.deleteDialog .content {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.deleteDialog .actions {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
}
